html {
    font-family: Aktiv Grotesk Ex;
    font-style:regular;
    font-weight: 600;
    font-size: 12px;
    height: 100%;
    padding: 0;
}

body {
    overflow: hidden;
    outline: 1px solid red;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.draggable {
    position: absolute;
    min-height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.icon {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    /* outline: 5px green solid; */
    background: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;
}

.caption {
    border: none;
    outline: none;
}

#parent {
    width: 50px; 
    height: 50px;
    background: green;
}

#child {
width: 25px; 
height: 25px;
background: red;
}